body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
}

/* #region ESTILOS PANEL SEARCH */

.searchPanelContainer {
    background: aliceblue;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width:768px) {
    .searchPanelContainer {
        margin: 0 20%;
    }
}

/* #endregion */


/* #region ESTILOS PANEL RESULTADOS */



/* #endregion */
